.row {
    margin-left: 0;
    margin-right: 0;
}
.fixed-top {
    background-color: rgba(0, 0, 0, 0.2);
}

.navbar-toggler {
    color: white;
}

.jumbotronHeader, .jumbotronHeaderParagraph, .offer-header, .offer-item {
    font-family: 'Lobster', cursive, 'Segoe UI';
}

.focus-text {
    font-family: 'Baloo', cursive, 'Segoe UI';
}

p, .navbar-nav {
    font-family: 'Amaranth', sans-serif;
}

.nav-item {
    padding-right: 25px;
    padding-left: 25px;
}


.header-div {
    position: relative;
    background-image: url("headimage.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-shadder {
    background-color: rgba(0, 0, 0, 0.6);
}


.nav-link {
    color: white;
    text-decoration: none;
    transition: 0.4s;
}

    .nav-link:hover {
        color: #81C784;
    }

.active {
    border-bottom: 2px solid #A5D6A7;
    transition: 0.4s;
}

    .active:hover {
        border-bottom: 2px solid #1B5E20;
    }

.navbar-brand {
    color: white;
}

.first-container {
    background-color: rgba(0,0,0,0.9);
}

.first-container-item {
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.second-div {
    padding: 20px;
}

.second-div-header {
    padding: 15px;
}

.horizontal-line {
    width: 100%;
    height: 1px;
    background-color: #CFD8DC;
    margin-top: 20px;
}

.special-div {
    background-image: url("special.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.special-div-inner {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.special-image-div {
    background-color: white;
}

.special-offer-header {
    color: white;
    margin-bottom: 20px;
}

.offer-header {
    color: #B2DFDB;
    font-style: italic;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.offer-item {
    color: #FFCDD2;
    font-style: italic;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.offer-description {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.offer-available {
    color: #BBDEFB;
    margin-top: 10px;
    margin-bottom: 10px;
}

.top-rated-items, .customer-comments, .all-items {
    margin-top: 15px;
}


.top-rated-items-card {
    margin-top: 20px;
}

.top-rated-hl, .customer-comments-hl {
    margin-bottom: 20px;
}

.top-rated-price-portion {
    float: right;
    color: #00796B;
}

.item {
    margin: 10px;
}

.end-footer {
    background-color: rgba(0,0,0,0.9);
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 20px;
}

.fb-button, .you-button, .google-button, .in-button {
    color: lightgray;
}

    .fb-button:hover, .you-button:hover, .google-button:hover, .in-button:hover {
        color: #fff;
    }


.contact-footer, .footer-anchore-tag {
    color: white;
}

.footer-anchore-tag:hover {
    text-decoration: none;
    color: lightblue;
}

.custom-jumbotron {
    background-color: rgba(0, 0, 0, 0);
    margin: auto;
    text-align: left;
    color: white;
}

.jumbotron-content {
    margin-top: 30px;
}

.search-bar {
    border-radius: 100px;
}

.social-ul, .address-ul {
    font-size: 15px;
}
.social-li {
    display: inline;
    padding: 10px;
}

.address-li {
    color: white;
    display: block;
}

.copyright-text {
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

.footer-header {
    color: white;
}

.first-footer-row {
    margin-bottom: 20px;
    border-bottom: 1px solid #263238;
}

.other-page-special-div {
    margin-top: 40px;
}

.button-prev {
    float: left;
}

.button-next {
    float: right;
}

.all-items-header {
    float: left
}

.search-portion {
    float: right;
}

.gap-from-navigation {
    padding-top: 80px;
}

.related-item {
    border: 1px solid #ECEFF1;
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fb-signin {
    background-color: #3b5998;
    border-radius: 50px;
}

.google-signin {
    background-color: #d34836;
    border-radius: 50px;
}

.normal-signin {
    border-radius: 50px;
}
